@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista De Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />

        <!-- Contenedor responsivo para la tabla -->
        <div class="table-responsive">
            <table id="tabla" class="display cell-border" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- La tabla se inicializa vacía -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">

                    <input id="txtid" type="text"value="0"/>
                    <div class="col-sm-6">
                        <label for="txtnombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtnombres">
                    </div>


                    <div class="col-sm-6">
                        <label for="txtapellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtapellidos">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtcorrreo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txtcorrreo">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select class="form-select" id="cboactivo">
                            <option value="1" >Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- Estilos de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

    <!-- Scripts de jQuery y DataTables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

    <script>
        // Inicialización de DataTables con datos asíncronos
        let filaSeleccionada;
        let tabledata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: "@Url.Action("ListarUsuarios", "Home")",
                type: 'GET',
                dataType: "json"
            },
            "columns": [
                { "data": "Nombres" },
                { "data": "Apellidos" },
                { "data": "Correo" },
                {
                    "data": "Activo",
                    "render": function (valor) {
                        return valor ? '<span class="badge bg-success">Si</span>' : '<span class="badge bg-danger">No</span>';
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar">  <i class="fas fa-pen me-1"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2">  <i class="fas fa-trash me-1"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json"
            }
        });

        function abrirModal(json) {
            $("#txtid").val(0); 
            $("#txtnombres").val('');
            $("#txtapellidos").val('');
            $("#txtcorrreo").val('');
            $("#cboactivo").val(1); 

            if (json != null) {

                $("#txtid").val(json.IdUsuario)
                $("#txtnombres").val(json.Nombres)
                $("#txtapellidos").val(json.Apellidos)
                $("#txtcorrreo").val(json.Correo)
                $("#cboactivo").val(json.Activo == true ? 1 : 0)

            }
             $("#FormModal").modal("show")
            
         
           
            
        };

        $("#tabla tbody").on("click", '.btn-editar', function () {
             filaSeleccionada = $(this).closest("tr");
            
            let data = tabledata.row(filaSeleccionada).data()
            console.log(data)
            abrirModal(data)
    
        })


       function Guardar() {

           let Usuario = {
               IdUsuario: $("#txtid").val(),
               Activo: $("#cboactivo").val() == 1 ? true : false,
               Apellidos: $("#txtapellidos").val(), 
               Correo: $("#txtcorrreo").val(),
               Nombres: $("#txtnombres").val()
           }
           if (Usuario.IdUsuario == 0) {
               tabledata.row.add(Usuario).draw(false)

           } else {

               tabledata.row(filaSeleccionada).data(Usuario).draw(false)
               
          
           }
           $("#FormModal").modal("hide")


       }
    </script>
}
